<!DOCTYPE html>
<html>
    <head>
        <title>Image Editor</title>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
        <meta name="description" content="Image Editing Page of PIPS">

        <link rel="stylesheet", href="/css/pips.css" type="text/css">
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
            integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" 
            crossorigin="anonymous">
        
        <link rel="icon" href="images/usgsLogo.png" type="image/x-icon">

        <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
        <script src="js/imageEditor.js"></script>
    </head>
    <body class="unfocus" style="overflow-x: hidden;">
       
        <!-- Right Bar-->
        <div id="rightbox" class="container mainbox-right unfocus" style="width: 8%; height:100%; padding: 2px;">
            <!-- Loading GIF-->
            <div id="loading" class="text-center lead loading-small" style="top: 0;">
                <img src="../images/loading.gif" class='float-center' height="50%" weight="auto"/>
                <br>
                <h3 id="loadingText" style="text-align: center; margin-left: 1rem; color: cornsilk;">Loading</h3>
            </div>

            <br>
            <!--------------------------- Layer Browser ------------------------->
            <div id="layerLabel" class="container lightshadowbox" style="margin: auto; max-width: 200px; color: black; pointer-events: none;">Layers</div>
            <div id="layerBrowser" class="container shadowbox unfocus" 
                style="max-width: 200px; margin: auto; width: 100%; height: 75%; min-height: 75px; padding: 0;
                 top: 150px; border: 2px solid blue; overflow: auto;"></div>
            
        </div>
        
        <!-- Center Box-->
        <div class="mainbox-center unfocus" style="width: 90%; height:100%; background-color: rgba(99,88,94,0.65);
        border: 2px double rgba(255, 255,255, .65); padding: 5px;">
        
            <!-- Center Title Box -->
            <div class="help-box" id="help-box" style="visibility: hidden; margin-right: 0;
            height: 75%; display: inline-block;">
                <button class="float-right button" id="hideBtn">
                    &times;
                </button>
                <div class="container title-text" style="background: whitesmoke;">
                    <cite>Help</cite>
                </div>
                <div class="row lead">
                    1. <cite>Toggle icons</cite> on and off with the corresponding buttons.
                    <p class="small-text">(North Arrow, Sun Azimuthal Direction, Observer Direction, Scalebar)<br/>
                    If a button is grey, it is disabled from a lack of data.</p>
                </div>
                <br>
                <div class="row lead">
                    <p class="small-text">Hint: Hotkey commands can be found 
                        <a style="background-color: transparent" target="__blank" 
                        href="https://github.com/ChaddFrasier/PIPS/blob/master/README.md#Hot-Keys">here</a>.
                    </p>
                </div>
                <br/>
                <div class="row lead" style="width:auto; height: auto;">
                    2. <cite> Drag icons and lines</cite> around the image with the mouse.
                </div>
                <br/>
                <div class="row lead">
                    3. <cite>Scale</cite>any icons and text by mousing over the corners of the object (outlined in red).
                </div>
                <br/>
                <div class="row lead">
                    4. <cite>Draw</cite> lines using the Pencil Tool.
                    <p class="small-text">(Click 1 time to place the head of the line. Click again to finish drawing.)
                    </p>
                </div>
                <br/>
                <div class="row lead">
                    5. Use the <cite> Esc key</cite> 
                    to remove the head of a line after the first click when using the pencil tool.
                </div>
                <br/>
                <div class="row lead">
                    6. Change the <cite>image view</cite> using the slider at the top of the screen.
                </div>
                <br/>
                <div class="row lead">
                    7. Use the <cite>Color Pickers</cite> to change the color of the adjacent objects.  
                        <p class="small-text">(Text, Pencil Tool, or Outline Boxes)</p> 
                </div>
                <br/>
                <div class="row lead">
                    8. <cite>Add text</cite> to the image by clicking on the text box button and typing your text. 
                        <p class="small-text">(Undo a text element by clicking the red button.)</p>  
                </div>
                <br/>
                <div class="row lead">
                    9. <cite>Padding</cite> can be added to the image by typing the amount 
                    of pixels you want to add, and then selecting a location(s).  
                </div>
                <br/>
                <div class="row lead">
                    10. Change the <cite>figure size</cite> by typing in the new dimensions and hitting update.
                    Return the image to its origional upload size by hitting upload after erasing the dimensions box content.
                </div>
                <br/>
                <div class="row lead">
                    11. Click the <cite>Save Figure</cite> button to save the new figure in an accepted format.
                        <p class="small-text">(Accepted Formats: png, tiff, svg, or jpg)</p>
                </div>
                <br>
                <div class="row lead">
                    12. Use the <cite>Layer Box</cite> on the right side of the screen to change the layer that icons appear
                     on by clicking and dragging layer objects up and down. <cite>Delete</cite> the active layer by hitting the Delete key 
                </div>
            </div>
            
            <div class="container text-center unfocus " style="background: rgba(99, 88, 94, 0.692);
            height: 13rem; padding: 2rem; max-width: none; width:100%; border: 1px solid black; margin:0;">
                
                <div class="jumbotron text-center" 
                style="border: 2px solid black; margin:auto auto;margin-left: auto; margin-right: auto; 
                background: rgba(243, 214, 176, 0.698); height:75%; padding: 0;">
                    <div class="row" style="max-height: 200px;">
                        <div class="col-4 unfocus" style="width: 15%; pointer-events: none;">
                        <!-- Page Header Block-->
                            <img src="../images/usgsLogo.png" class="float-left" width="auto" height="20%"
                            style="margin: 0%; padding: 0%; pointer-events:none; position: relative;">
                        </div>
                        <div class="col-4 unfocus" style="text-align: center; width: 70%; pointer-events: none;">
                            <h2 class="title-text" style="pointer-events: inherit;">Edit Cube Image</h2>
                            <h4 id="imageName" class="title-text-small" style="pointer-events: inherit;"></h4>
                            <h5 id="displayCube" class="title-text-small" style="pointer-events: inherit; margin-top: 1%;"><%=w%> &times; <%=h%> px</h5>
                        </div>
                        <div class="col-4 unfocus" style="width: 15%; pointer-events: none;">
                            <img src="/images/help.jpg" class="float-right helpBtn" id="helpBtn" title="Help!" 
                            style="position: relative;"/>
                        </div>
                    </div>
                </div>
                <div class="row unfocus" style="width: 100%; height: auto; margin: 0 auto;">
                    <div class="col-2 unfocus menuBtnBox" style="margin: 10px auto;">
                        <a class="btn dropdownItem" href="/" role="button" title="Start Over">
                            Upload New File
                        </a>
                    </div>

                    <div class="col-8 menubar" style="display: flex; margin: 10px auto; text-align: center; width:80%">
                        <div class="col menuBtnBox" style="vertical-align: middle;">
                            <div id="iconMenuBtn" class="dropdown btn">
                                Icons&#x25BA;
                            </div>
                                <br>
                            <div class="dropdownMenu">
                                <div id="northIconFlagSidebar" class="sidebarParent">
                                    <div class="sidebar" onclick="document.getElementById('northCheckboxSlider').click();" 
                                    title="Shift Colors (Shift + Alt + N)">
                                        Toggle Color
                                    </div>
                                </div>
                                <button class="dropdownItem btn" role="button" id="northIconFlag" title="North Arrow (Alt + N)">
                                    North Arrow
                                </button>
                                <br>
                                <div id="sunIconFlagSidebar" class="sidebarParent">
                                    <div class="sidebar" onclick="document.getElementById('sunCheckboxSlider').click();"
                                    title="Shift Colors (Shift + Alt + S)">
                                        Toggle Color
                                    </div>
                                </div>
                                <button class="dropdownItem btn" role="button" id="sunIconFlag" title="Sun Arrow (Alt + S)">
                                    Sun Arrow
                                </button>
                                <br>
                                <div id="eyeFlagSidebar" class="sidebarParent">
                                    <div class="sidebar" onclick="document.getElementById('eyeCheckboxSlider').click();"
                                    title="Shift Colors (Shift + Alt + O)">
                                        Toggle Color
                                    </div>
                                </div>
                                <button class="dropdownItem btn" role="button" id="eyeFlag" title="Observer Direction (Alt + O)">
                                    Observer Direction
                                </button>
                                <br>
                                <div id="scaleBarButtonSidebar" class="sidebarParent">
                                    <div class="sidebar" onclick="document.getElementById('scaleCheckboxSlider').click();"
                                    title="Shift Colors (Shift + Alt + R)">
                                        Toggle Color
                                    </div>
                                </div>
                                <button class="dropdownItem btn" role="button" id="scaleBarButton" title="Scalebar (Alt + R)">
                                    Scalebar
                                </button>
                            </div>
                        </div>
                        <div class="col menuBtnBox" style="vertical-align: middle;">
                            <div id="annotateMenuBtn" class="dropdown btn">
                                    Annotate&#x25BA;
                                </div>
                                <br>
                                <div class="dropdownMenu">
                                    <div id="outlineBtnSidebar" class="sidebarParent">
                                        <div class="sidebar" onclick="document.getElementById('colorPickerBox').click();"
                                        style="display: flex;" title="Outline Color">
                                            Color <input id="colorPickerBox" type="color" title="Change Color" name="boxColor"  
                                            value="#ffffff"/>
                                        </div>
                                    </div>
                                    <button class="dropdownItem btn" role="button" id="outlineBtn" title="Add Outliine Box (Alt + B)">
                                        Outline Box
                                    </button>
                                    <div id="textBtnSidebar" class="sidebarParent">
                                        <div class="sidebar" onclick="document.getElementById('textColorPicker').click();"
                                        style="display: flex;" title="Text Color">
                                            Color <input type="color" id="textColorPicker"
                                            value="#FFFFFF" title="Change Color">
                                        </div>
                                    </div>
                                    <button class="dropdownItem btn" role="button" id="textBtn" title="Add Text Box (Alt + T)">
                                        Text Box
                                    </button>
                                    <div id="pencilIconFlagSidebar" class="sidebarParent">
                                        <div class="sidebar" onclick="document.getElementById('colorPickerLine').click();"
                                        style="display: flex;" title="Line Color">
                                            Color <input id="colorPickerLine" type="color" title="Change Color" name="lineColor"  
                                            value="#ffffff"/>
                                        </div>
                                        <div class="sidebar" onclick="document.getElementById('arrowCheckboxSlider').toggleAttribute('checked')"
                                        style="display: flex;" title="Arrowhead Line">
                                            Toggle Arrow? <input type="checkbox" id="arrowCheckboxSlider"
                                                    style="margin: auto auto; pointer-events: none; scale: 1.4;">
                                                    
                                        </div>
                                    </div>
                                    <button class="dropdownItem btn" role="button" id="pencilIconFlag" title="Draw Lines (Alt + L)">
                                        Draw Tool
                                    </button>
                                </div>
                        </div>
                        <div class="col menuBtnBox" style="vertical-align: middle;">
                            <div id="viewMenuBtn" class="dropdown btn">
                                View&#x25BA;
                            </div>
                            <br>
                            <div class="dropdownMenu">
                                <button class="dropdownItem btn" role="button" id="fullscreenBtn" title="Change Image View" 
                                onclick="viewButtonHandler(this);">
                                    Toggle View
                                </button>
                            </div>
                        </div>

                        <div class="col menuBtnBox" style="vertical-align: middle;">
                            <div id="fileMenuBtn" class="dropdown btn">
                                    File&#x25BA;
                            </div>
                            <br>
                            <div class="dropdownMenu text-left">
                                <button class="dropdownItem btn" role="button" id="padImageBtn" title="Add Padding Around Image">
                                    Pad Image
                                </button>
                                <br>
                                <button class="dropdownItem btn" role="button" id="resizeFigureBtn" title="Resize Whole Figure">
                                    Resize Figure
                                </button>
                                <br>
                                <button class="dropdownItem btn" role="button" id="exportBtn" title="Save Figure As...">
                                    Export As...
                                </button>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-2 unfocus menuBtnBox" style="margin: 10px auto;">
                        <button class="btn dropdownItem" onclick="captionHandler()" title="Go Back to Caption">
                            View Caption
                        </button>
                    </div>
                    
                    <!-- Hidden fields -->

                    <!-- observer slider -->
                    <label class="switch" id="eyeCheckbox" style="visibility: hidden;" title="Shift + Alt + O">
                        <input type="checkbox" id="eyeCheckboxSlider" 
                        style="margin: auto auto; margin-bottom: 0;">
                        <span class="slider round" id="eyeAnimation" ></span>
                    </label>

                    <!-- view slider -->
                    <label class="switch" style="scale: 1.15; left: 0; visibility: hidden;">
                        <input id="viewOption" type="checkbox">
                        <span class="slider round"></span>
                    </label>

                    <!-- scalebar slider -->
                    <label class="switch" id="scaleCheckbox" style="visibility: hidden;" title="Shift + Alt + R">
                        <input type="checkbox" id="scaleCheckboxSlider"
                        style="margin: auto auto; margin-bottom: 0;">
                        <span class="slider round" id="scaleAnimation"></span>
                    </label>

                    <!-- North slider object hidden -->
                    <label class="switch" id="northCheckbox" style="visibility: hidden;" title="Shift + Alt + N">
                        <input type="checkbox" id="northCheckboxSlider"
                        style="margin: auto auto; margin-bottom: 0;">
                        <span class="slider round" id="northAnimation"></span>
                    </label> 

                    <!-- sun switch-->
                    <label class="switch" id="sunCheckbox" style="visibility: hidden;" title="Shift + Alt + S">
                        <input type="checkbox" id="sunCheckboxSlider" 
                        style="margin: auto auto; margin-bottom: 0;">
                        <span class="slider round" id="sunAnimation"></span>
                    </label>

                    <!-- predrawn layer svg elements-->
                    <svg id="northIconFlagSvg" role="button" class="btn btn-lg button" viewBox="0 0 100 100"
                        stroke-width="3" style=" margin:auto auto; width: 100%; padding: 5%; visibility: hidden;">
                        <path d="M 50 0 L 85 65 L 50 50 L 50 0" stroke="black" fill="black"/>
                        <path d="M 50 0 L 15 65 L 50 50 L 50 0" fill="none" stroke="black"/>
                        <path d="M 68 65 L 68 100 L 62 100 L 38 70 L 38 100 L 
                        32 100 L 32 65 L 42 65 L 62 90 L 62 65 L 67 65" 
                        fill="black"/>
                    </svg>

                    <svg id="sunIconFlagSvg" class="btn btn-lg button" style="width: 100%; padding: 1%; visibility: hidden;" 
                    viewBox="0 0 50 50"role="button" stroke-width="3">
                        <circle cx="25" cy="25" r="5" stroke="black" stroke-width="1"></circle>
                        <circle cx="25" cy="25" r="20" stroke="black" fill="transparent">
                        </circle>
                    </svg>

                    <svg class="btn btn-lg button" id="eyeFlagSvg"  style="width: 100%; padding: 1%; visibility: hidden;" 
                    viewBox="0 0 100 100" stroke-width="5">
                        <path d="M 0 51 C 0 50 50 0 100 51" fill="none" stroke="black"></path>
                        <path d="M 0 49 C 0 50 49 100 100 49" fill="none" stroke="black"></path>
                        <circle cx="50" cy="50" r="6"/>
                        <ellipse cx="50" cy="50" rx="15" ry="20" fill="none" stroke="black"/>
                    </svg>
    
                    <svg id="scaleBarButtonSvg" viewBox= "0 0 25 4" style="visibility: hidden; pointer-events:none">
                        <rect x="0" y="0" id="scalebarOuter" width="25" height="4" stroke-width="1.75" 
                        stroke="black" fill="white" ></rect>
                        <path id="scalebarLine" d="M 15 2 L 25 2"  stroke="black" stroke-width=".75"/>
                        <path id="scalebarVert" d="M 15 0 L 15 4"  stroke="black" stroke-width=".75"/>
                        <path id="scalebarVert10th" d="M 0 0 L 0 4"  stroke="black" stroke-width="1"/>
                        <path id="scalebarLine10th" d="M 0 2 L 2.5 2"
                        stroke="black" stroke-width=".75"/>
                        <path id="scalebarVert20th" d="M 2.5 0 L 2.5 4"
                        stroke="black" stroke-width=".75"/>
                        <path id="scalebarVert30th" d="M 5 0 L 5 4"stroke="black" stroke-width=".75"/>

                        <path id="scalebarVert40th" d="M 7.5 0 L 7.5 4"
                        stroke="black" stroke-width=".75"/>
                        <path id="scalebarVert50th" d="M 10 0 L 10 4"
                        stroke="black" stroke-width=".75"/>
                        <path id="scalebarVert50th" d="M 12.5 0 L 12.5 4"
                        stroke="black" stroke-width=".75"/>
                        <path id="scalebarLine70th" d="M 5 2 L 7.5 2"
                        stroke="black" stroke-width=".75"/>
                        <path id="scalebarLine90th" d="M 10 2 L 12.5 2"
                        stroke="black" stroke-width=".75"/>
                    </svg>
                </div>
            </div>
            <div class="row" id="progressBarBox" style="margin: auto auto; margin-top: 10px;">
                <!-- add progress bar here using js-->
            </div>
            <div class="row" style="margin-top:10px; margin-bottom:0; padding:0; ">
                <div class="col unfocus">
                    <!-----------------------Editor Box----------------------------------------------->
                    <div id="imageViewContainer" style="height: fit-content; width: auto; margin-left:auto;
                     margin-right: auto; margin-top: auto; margin-bottom: auto; padding: 10px;">
                        <svg id="svgWrapper" xmlns="http://www.w3.org/2000/svg" version='1.1' stroke="black" 
                        fill="black" xmlns:xlink="http://www.w3.org/1999/xlink"
                        class="image-image" viewBox="0 0 <%=w%> <%=h%>" style="fill:rgb(1, 1, 1);"
                         width='100%' height='100%'>
                            <defs id="arrowDef">
                                <marker id="arrow" viewBox="0 0 10 10" refX="7" refY="5" markerUnits="strokeWidth"
                                    markerWidth="8" markerHeight="4" orient="auto">
                                    <path id="arrowPath" d="M 10 0 L 0 5 L 10 10 z" stroke="none" fill="#ffffff"/>
                                </marker>
                            </defs>
                            <rect id="svgBackground" class="unfocus" x="0" y="0" width="<%=w%>" height="<%=h%>" fill="black"/>
                            <image id="crop" style="pointer-events: none;" width="<%=w%>" height="<%=h%>" x="0" y="0"
                                transform="scale(.25)"fill="black" xlink:href="/images/loading.gif"></image>
                        </svg>
                    </div>
                </div> 
            </div>
        </div>
        <!-- Hidden Tags for data parsing-->
        <div id="metadata" style="display:none;"  class="text-center green-border-focus">
            <label for="metadata-text">
                <h2>Metadata Output</h2>
            </label>
            <textarea readonly id="metadata-text" class="form-control bg-white text-dark"
                style="resize: vertical; font-size: 22px;"><%= tagField %></textarea>
        </div>
        <div id="metadata-tags" style="display:none;" class="text-center green-border-focus">
            <label for="metadataTagArea">
                <h2>Metadata Tags</h2>
            </label>
            <textarea readonly id="metadataTagArea" class="form-control bg-white text-dark" 
            style="resize: vertical; font-size: 22px;"></textarea>
        </div>

        <!-- Variables for javascript code: EJS templates -->
        <div id="imageDimensions" style="display: none;">
            <p id="width"><%=w%></p>
            <p id="height"><%=h%></p>
            <p id="origW"><%=origW%></p>
            <p id="origH"><%=origH%></p>
            <p id="scalebarLength"><%=scalebarLength%></p>
            <p id="scalebarPx"><%=scalebarPx%></p>
            <p id="imageSrc"><%=image%></p>
            <p id="isMapProjected"><%=isMapProjected %></p>
            <p id="scalebarUnits"><%=scalebarUnits %></p>
            <p id="displayCube"><%=displayCube %></p>
        </div>
    </body>
</html>