<!DOCTYPE html>
<html>
    <head>
        <title>Image Editor</title>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
        <meta name="description" content="Image Editing Page of PIPS">

        <link rel="stylesheet", href="/css/pips.css" type="text/css">
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
            integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" 
            crossorigin="anonymous">
        
        <link rel="icon" href="images/usgsLogo.png" type="image/x-icon">

        <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
        <script src="js/imageEditor.js"></script>
    </head>
    <body class="unfocus" style="overflow-x: hidden;">
        <!-- Left Bar-->
        <div class="mainbox-left unfocus" style="width: 18%;">
            <!-- Page Header Block-->
            <img src="../images/usgsLogo.png" class="float-md-left" width="85%" height="auto"
                style="margin: 0%; padding: 0%; pointer-events:none;">
            <!-- New UI with a tabular menu -->
            <div class="tabs">
                <button class="tablinks active" onclick="openToolBox(event, 'Icons')">
                    <p style="color: white; width: 90%; position: absolute; left: 10px; padding:0; padding-right: 5px; margin: 0; font-size: x-small;">Icons</p>
                </button>
                <button class="tablinks" onclick="openToolBox(event, 'Annotate')">
                    <p style="color: black; width: 90%; padding:0; left: 10px; padding-right: 25px; margin: 0; font-size: xx-small; position:absolute">Annotate</p>
                </button>
                <button class="tablinks" onclick="openToolBox(event, 'File')">
                    <p style="color: black;  position: absolute; left: 10px;width: 90%; padding:0; padding-right: 5px; margin: 0; font-size: x-small;">File</p>
                </button>
            </div>
            <!-- Tabular Menu System -->
            <div class="menu unfocus">
                <!-- Icon UI Tab-->
                <div id="Icons" class="tabcontent unfocus">
                    <h4 style=" color:white; pointer-events: none;font-size: large;">Icon Tools</h4>
                    <!-- North Button -->
                    <div class="row" role="table" style="margin-top:0rem; border-top: 2px solid black" 
                            title="Alt + N">
                        <div class="col-4" style="margin: auto auto;">
                            <p class="float-left" style="padding-left: 2% ;margin-right:.5rem; height: 100%; font-size: 70%;">
                                North Azimuthal Direction
                            </p>
                        </div>
                        <div class="col-4" style="text-align:center; margin: auto auto; padding: 2%;">
                            <svg id="northIconFlag" role="button" class="btn btn-lg button" viewBox="0 0 100 100"
                             stroke-width="3" style=" margin:auto auto; width: 100%; padding: 5%;">
                                <path d="M 50 0 L 85 65 L 50 50 L 50 0" stroke="black" fill="black"/>
                                <path d="M 50 0 L 15 65 L 50 50 L 50 0" fill="none" stroke="black"/>
                                <path d="M 68 65 L 68 100 L 62 100 L 38 70 L 38 100 L 
                                32 100 L 32 65 L 42 65 L 62 90 L 62 65 L 67 65" 
                                fill="black"/>
                            </svg>
                        </div>
                        <div class="col-4" style="padding-right: 20%;">
                            <p id="northCheckboxLabel" style="visibility: hidden; font-size: 100%;">Toggle Color</p>
                            <label class="switch" id="northCheckbox" style="visibility: hidden;" title="Shift + Alt + N">
                                <input type="checkbox" id="northCheckboxSlider"
                                style="margin: auto auto; margin-bottom: 0;">
                                <span class="slider round" id="northAnimation"></span>
                            </label> 
                        </div>
                    </div>
                    <!-- Sun Direction Button -->
                    <div class="row" role="table"title="Alt + S" style="padding-bottom: 1%;">
                        <div class="col-4" style="margin: auto auto;">
                            <p class="float-left" style="padding-left: 3%;margin-right: .5rem; height: 80%; font-size: 70%;">
                                Sun Azimuthal<br/>Direction
                            </p>
                        </div>
                        <div class="col-4" style="margin-top: auto; margin-bottom:auto; padding: 2%;">
                            <svg class="btn btn-lg button" style="width: 100%; padding: 1%;" 
                            viewBox="0 0 50 50"role="button" id="sunIconFlag" stroke-width="3">
                                <circle cx="25" cy="25" r="5" stroke="black" stroke-width="1"></circle>
                                <circle cx="25" cy="25" r="20" stroke="black" fill="transparent">
                                </circle>
                            </svg>
                        </div>
                        <div class="col-4" style="padding-right: 20%;">
                            <p id="sunCheckboxLabel" style="visibility: hidden;">Toggle Color</p>
                            <label class="switch" id="sunCheckbox" style="visibility: hidden;" title="Shift + Alt + S">
                                <input type="checkbox" id="sunCheckboxSlider" 
                                style="margin: auto auto; margin-bottom: 0;">
                                <span class="slider round" id="sunAnimation"></span>
                            </label>
                        </div>
                    </div>
                    <!-- Observer Direction Button -->
                    <div class="row" role="table" title="Alt + O">
                        <div class="col-4" style="margin: auto auto;">
                            <p class="float-left" style="margin-right: .5rem; height: 100%; font-size: 70%; padding-left: 3%;">
                                Observer Azimuthal<br/>Direction
                            </p>
                        </div>
                        <div class="col-4" style="margin-top: auto; margin-bottom:auto; padding: 2%;">
                            <svg class="btn btn-lg button" id="eyeFlag"  style="width: 100%; padding: 1%;" 
                            viewBox="0 0 100 100" stroke-width="5">
                                <path d="M 0 51 C 0 50 50 0 100 51" fill="none" stroke="black"></path>
                                <path d="M 0 49 C 0 50 49 100 100 49" fill="none" stroke="black"></path>
                                <circle cx="50" cy="50" r="6"/>
                                <ellipse cx="50" cy="50" rx="15" ry="20" fill="none" stroke="black"/>
                            </svg>
                        </div>
                        <div class="col-4" style="padding-right: 20%;">
                            <p id="eyeCheckboxLabel" style="visibility: hidden;">Toggle Color</p>
                            <label class="switch" id="eyeCheckbox" style="visibility: hidden;" title="Shift + Alt + O">
                                <input type="checkbox" id="eyeCheckboxSlider" 
                                style="margin: auto auto; margin-bottom: 0;">
                                <span class="slider round" id="eyeAnimation" ></span>
                            </label>
                        </div>
                    </div>
                    <div class="row" role="table" title="Alt + R">
                        <div class="col-4" style="margin: auto auto;">
                            <p class="float-left" style="font-size: 80%;">Scalebar</p>
                        </div>
                        <div class="col-4" style="padding-left:0%; margin-top: auto; margin-bottom:auto; padding: 2%;">
                            <button class="btn btn-lg button" id="scaleBarButton"
                            style="width:100%; padding:1%; color: black; min-width: 4rem; min-height: 1rem; padding-top: 0;">
                                <svg id="scalebar" viewBox= "0 0 25 4">
                                    <rect x="0" y="0" id="scalebarOuter" width="25" height="4" stroke-width="1.75" 
                                    stroke="black" fill="white" ></rect>
                                    <path id="scalebarLine" d="M 15 2 L 25 2"  stroke="black" stroke-width=".75"/>
                                    <path id="scalebarVert" d="M 15 0 L 15 4"  stroke="black" stroke-width=".75"/>
                                    <path id="scalebarVert10th" d="M 0 0 L 0 4"  stroke="black" stroke-width="1"/>
                                    <path id="scalebarLine10th" d="M 0 2 L 2.5 2"
                                    stroke="black" stroke-width=".75"/>
                                    <path id="scalebarVert20th" d="M 2.5 0 L 2.5 4"
                                    stroke="black" stroke-width=".75"/>
                                    <path id="scalebarVert30th" d="M 5 0 L 5 4"stroke="black" stroke-width=".75"/>

                                    <path id="scalebarVert40th" d="M 7.5 0 L 7.5 4"
                                    stroke="black" stroke-width=".75"/>
                                    <path id="scalebarVert50th" d="M 10 0 L 10 4"
                                    stroke="black" stroke-width=".75"/>
                                    <path id="scalebarVert50th" d="M 12.5 0 L 12.5 4"
                                    stroke="black" stroke-width=".75"/>
                                    <path id="scalebarLine70th" d="M 5 2 L 7.5 2"
                                    stroke="black" stroke-width=".75"/>
                                    <path id="scalebarLine90th" d="M 10 2 L 12.5 2"
                                    stroke="black" stroke-width=".75"/>
                                </svg>
                            </button>
                        </div>
                        <div class="col-4">
                            <p id="scaleCheckboxLabel" style="visibility: hidden;">Toggle Color</p>
                            <label class="switch" id="scaleCheckbox" style="visibility: hidden;" title="Shift + Alt + R">
                                <input type="checkbox" id="scaleCheckboxSlider"
                                style="margin: auto auto; margin-bottom: 0;">
                                <span class="slider round" id="scaleAnimation"></span>
                            </label>
                        </div>
                    </div>
                </div>
                <!-- Annotation UI Tab -->
                <div id="Annotate" class="tabcontent unfocus" style="display: none; margin: auto auto;">
                    <h4 style="color:white; pointer-events:none; font-size: large;">Annotation Tools</h4>
                    <!-- Draw Tool Button -->
                    <div class="row" role="table" title="Alt + L" style="margin-top: auto; margin-bottom:auto;">
                        <div class="col-4" style="margin: auto auto;">
                            <p class="float-left" style="padding-top: .5rem; height: 100%; font-size: 80%;">
                                Drawing Tool
                            </p>
                        </div>
                        <div class="col-4" style="padding-left:0%; margin-top: auto; margin-bottom:auto; padding: 1%;">
                            <button id="pencilIconFlag" class="btn btn-lg button" style="padding: 0; width:100%;">
                                <svg viewBox="10 5 100 100" width="100%" height="100%" style="padding:0;">
                                    <rect x="75" y="-25" width="9%" height="75%" fill="black"
                                    stroke="black" transform="rotate(35)"></rect>
                                    <rect x="86" y="-25" width="3%" height="75%" fill="black"
                                    stroke="black" transform="rotate(35)"></rect>
                                    
                                    <rect x="74" y="-32" width="15.5" height="5" fill="black" transform="rotate(35)"></rect>
                                    <path d="M31 86.5 L31.5,98 L43,94.5" stroke="black" fill="black"/>
                                </svg>
                            </button>
                        </div>
                        <div class="col-4" style="padding-top:2%;">
                            <div class="row" style="margin: 0; margin-bottom: 10%;">
                                <input id="colorPickerLine" type="color" title="Change Color" name="lineColor"  
                                value="#ffffff"/>
                            </div>
                            <br>
                            <div class="row" style="padding-left: 20%;">
                                <label class="switch" id="arrowCheckbox" title="Add an Arrowhead">
                                    <input type="checkbox" id="arrowCheckboxSlider"
                                    style="margin: auto auto; margin-bottom: 0;">
                                    <span class="slider round" id="arrowAnimation"></span>
                                </label>
                                <br>
                                <p id="arrowCheckboxLabel" style="margin: auto 0; font-size: 50%; width: 100%;">Add Arrow Head</p>
                            </div>
                        </div>
                    </div>
                    <!-- Outline Box Button -->
                    <div class="row" role="table" title="Alt + B">
                        <div class="col-4" style="margin: auto auto;">
                            <p class="float-left" style="width: 100%; font-size: 80%;">
                                Outline Box
                            </p>
                        </div>
                        <div class="col-4" style="padding-left:0%; margin-top: auto; margin-bottom:auto; padding: 1%;">
                            <button class="btn btn-lg button" id="outlineBtn" 
                            style="width:100%; color:black; padding:5%;">
                                <svg viewBox="0 0 75 50" width="100%" height="100%" style="padding: 0%;"><rect x="0" y="0" width="75" height="50" 
                                    stroke="white" stroke-width="5" fill="transparent"></rect>
                                </svg>
                            </button>
                        </div>
                        <div class="col-4" style="margin-top: auto; margin-bottom:auto; padding-top:2%;">
                            <input id="colorPickerBox" type="color" title="Change Color" name="boxColor"  
                            value="#ffffff"/>
                        </div>
                    </div>
                    <!-- Text Tool Button -->
                    <div class="row" role="table" title="Alt + T">
                        <div class="col-4" style="margin: auto auto;">
                            <p class="float-left" style="font-size: 80%;">Text Tool</p>
                        </div>
                        <div class="col-4" style="padding-left:0%; margin-top: auto; margin-bottom:auto; padding: 1%;">
                            <button class="btn btn-lg button" id="textBtn" 
                            style="width:100%; color: black; padding: 10%;">
                                <svg viewBox="0 0 20 10" width="100%">
                                    <rect x="0" y="0" width="20" height="10" stroke="white" stroke-width="2"
                                    fill="transparent"></rect>
                                    <text x="3" y="8" font-size="9">Aa</text>
                                </svg>
                            </button>
                        </div>
                        <div class="col-4" style="margin-top: auto; margin-bottom:auto; padding-top:2%;">
                            <input type="color" id="textColorPicker"
                            style="top: 48.5rem; left: 16rem;" value="#FFFFFF" title="Change Color">
                        </div>
                    </div>
                </div>
                <!-- File UI Tab -->
                <div id="File" class="tabcontent unfocus" style="display: none;">
                    <h4 style="color:white; pointer-events: none; font-size: large;">File Manipulations</h4>
                    <!-- Pad Image Interface -->
                    <div class="row" role="table" title="Pad Image Border">
                        <div class="row text-center">
                            <h2 class="text-center" style="padding-left: 2rem; font-size: 100%; color: white;">
                                Pad Image
                            </h2>
                        </div>
                        <br/>
                        <div class="row" style="width:100%;">
                            <div class="col-8" style="padding-left:2rem; margin-bottom: 2%;">
                                <input class="form-control form-control-lg"
                                style="width: 100%; border: 1px solid lightgrey; font-size: 65%;"
                                id="paddingInput" type="text" placeholder="Pad Pixels"/>
                            </div>
                            <div class="col-4" style="padding:0;">
                                <button  style=" width: 100%;" class="btn btn-danger btn-md button paddingBtn"
                                id="resetPaddingBtn" title="Reset Padding">
                                    Reset
                                </button>
                            </div>
                        </div>
                        <div class="row" style="width: 100%; padding: .5%; margin: 1px;">
                            <div class="col-3" style="padding: 0;">
                                <button class="btn button btn-sm paddingBtn" style="width:100%; font-size: xx-small;" id="topPaddingBtn"
                                    title="Top of Image">
                                    Top 
                                </button>
                            </div>
                            <div class="col-3" style="width: 25%; padding: 0;">
                                <button class="btn button btn-sm paddingBtn" style="width:100%; font-size: xx-small;" id="bottomPaddingBtn"
                                    title="Bottom of Image">
                                    Bottom 
                                </button>
                            </div>
                            <div class="col-3" style="width: 25%; padding: 0;">
                                <button class="btn button btn-sm paddingBtn" style="width:100%; font-size: xx-small;" id="leftPaddingBtn"
                                    title="Left Side of Image">
                                    Left 
                                </button>
                            </div>
                            <div class="col-3" style="width: 25%; padding: 0;">
                                <button class="btn button btn-sm paddingBtn" style="width:100%; font-size: xx-small;" id="rightPaddingBtn"
                                    title="Right Side of Image">
                                    Right 
                                </button>
                            </div>
                        </div>
                    </div>
                    <!-- Resizing Button Interface -->
                    <div class="row" role="table">
                        <div class="col-4" style="padding: 0; padding-left:5%; margin: auto auto;">
                            <p class="float-center" style="padding-left:5%;">
                                Resize<br/>Figure
                            </p>
                        </div>
                        <div class="col-4" style="padding: 0; margin: auto auto;">
                            <p class="float-center" style="margin-bottom: 0; margin-top: auto;">
                                Width
                            </p>
                            <input id="changeDimWidth" type="text" style="width: 100%;">
                            <br/>
                            <br/>
                            <input id="changeDimHeight" type="text" style="width: 100%;">
                            <p class="float-center" style="padding:0%;">
                                Height
                            </p>
                        </div>
                        <div class="col-4" style="padding: 1%; padding-top: 0; margin: auto auto;">
                            <button id="resizeUpdateBtn" class="btn btn-lg button"
                            style="width: 100%; padding: 1%; font-size: 100%;">
                                Update
                            </button>
                        </div>
                    </div>
                    <!-- Export Button Interface -->
                    <div class="row" role="table" style="border-bottom: 2px solid black; margin-top: auto;
                    margin-bottom: auto;" title="Download Figure">
                        <div class="row" style="padding:2%; padding-left: 2rem; width: 20rem;">
                            <div class="col-4" style="padding: 0; margin: auto auto;">
                                <p class="float-left" style="margin-right: 2rem;">
                                Save<br/>Figure
                                </p>
                            </div>
                            <div class="col-8" style="margin: auto auto;">
                                <button class="btn btn-primary btn-lg button"
                                style="height: 75%;margin: auto auto;" id="exportBtn">
                                    <svg viewBox="0 0 100 100" stroke-width="10">
                                        <path d="M 5 40 L 5 95 L 95 95 L 95 40" stroke="black" fill="transparent"/>
                                        <path d="M 50 20 L 50 90 L 70 60 L 50 90 L 30 60 L 50 91" stroke-width="8"
                                         stroke="black" fill="transparent"></path>
                                    </svg>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="help-box" id="help-box" style="visibility: hidden; margin-right: 0;
            height: 75%; display: inline-block;">
                <button class="float-right button" id="hideBtn" 
                style="width:auto; height:auto; border-radius: 5px; min-width: 1.75rem; min-height: 1.75rem;
                border: 1px solid red; background-image: linear-gradient(lightblue,rgba(50, 50, 255, 0.685));
                background-color: rgba(39, 109, 200); color: darkred;">
                    &times;
                </button>
                <div class="container title" style="background: whitesmoke;">
                    <cite>Help</cite>
                </div>
                <div class="row lead">
                    1. <cite>Toggle icons</cite> on and off with the corresponding buttons.
                    <p class="small-text">(North Arrow, Sun Azimuthal Direction, Observer Direction, Scalebar)<br/>
                    If a button is grey, it is disabled from a lack of data.</p>
                </div>
                <br>
                <div class="row lead">
                    <p class="small-text">Hint: Hotkey commands can be found 
                        <a style="background-color: transparent" target="__blank" 
                        href="https://github.com/ChaddFrasier/PIPS/blob/master/README.md#Hot-Keys">here</a>.
                    </p>
                </div>
                <br/>
                <div class="row lead" style="width:auto; height: auto;">
                    2. <cite> Drag icons and lines</cite> around the image with the mouse.
                </div>
                <br/>
                <div class="row lead">
                    3. <cite>Scale</cite>any icons and text by mousing over the corners of the object (outlined in red).
                </div>
                <br/>
                <div class="row lead">
                    4. <cite>Draw</cite> lines using the Pencil Tool.
                    <p class="small-text">(Click 1 time to place the head of the line. Click again to finish drawing.)
                    </p>
                </div>
                <br/>
                <div class="row lead">
                    5. Use the <cite> Esc key</cite> 
                    to remove the head of a line after the first click when using the pencil tool.
                </div>
                <br/>
                <div class="row lead">
                    6. Change the <cite>image view</cite> using the slider at the top of the screen.
                </div>
                <br/>
                <div class="row lead">
                    7. Use the <cite>Color Pickers</cite> to change the color of the adjacent objects.  
                        <p class="small-text">(Text, Pencil Tool, or Outline Boxes)</p> 
                </div>
                <br/>
                <div class="row lead">
                    8. <cite>Add text</cite> to the image by clicking on the text box button and typing your text. 
                        <p class="small-text">(Undo a text element by clicking the red button.)</p>  
                </div>
                <br/>
                <div class="row lead">
                    9. <cite>Padding</cite> can be added to the image by typing the amount 
                    of pixels you want to add, and then selecting a location(s).  
                </div>
                <br/>
                <div class="row lead">
                    10. Change the <cite>figure size</cite> by typing in the new dimensions and hitting update.
                    Return the image to its origional upload size by hitting upload after erasing the dimensions box content.
                </div>
                <br/>
                <div class="row lead">
                    11. Click the <cite>Save Figure</cite> button to save the new figure in an accepted format.
                        <p class="small-text">(Accepted Formats: png, tiff, svg, or jpg)</p>
                </div>
                <br>
                <div class="row lead">
                    12. Use the <cite>Layer Box</cite> on the right side of the screen to change the layer that icons appear
                     on by clicking and dragging layer objects up and down. <cite>Delete</cite> the active layer by hitting the Delete key 
                </div>
            </div>


        </div>

        <!-- Right Bar-->
        <div id="rightbox" class="container mainbox-right unfocus" style="width: 7%; height:100%; padding: 5px;">
            <!-- Loading GIF-->
            <div id="loading" class="text-center lead loading-small" style="top: 0;">
                <img src="../images/loading.gif" class='float-center' height="50%" weight="auto"/>
                <br>
                <h3 id="loadingText" style="text-align: center; margin-left: 1rem; color: cornsilk;">Loading</h3>
            </div>

            <br>
            <!--------------------------- Layer Browser ------------------------->
            <div class="container lightshadowbox" style="margin: 0; color: black; pointer-events: none;">Layers</div>
            <div id="layerBrowser" class="container shadowbox unfocus" 
                style="width: 100%; height: 75%; padding: 0; top: 150px; border: 2px solid blue; overflow-y: scroll;"></div>
            
        </div>
        
        <!-- Center Box-->
        <div class="mainbox-center unfocus" style="width: 75%; height:100%; background-color: rgba(99,88,94,0.65);
        border: 2px double rgba(255, 255,255, .65); padding: 5px;">
            <!-- Center Title Box -->
            <div class="container text-center unfocus " style="background: rgba(99, 88, 94, 0.692);
            height: 13rem; padding: 2rem; max-width: none; width:100%; border: 1px solid black; margin:0;">
                <div class="jumbotron text-center" 
                style="border: 2px solid black; margin:auto auto;margin-left: auto; margin-right: auto; 
                background: rgba(243, 214, 176, 0.698); height:75%; padding: 0;">
                    <div class="row">
                        <div class="col-4 unfocus" style="width: 15%;"></div>
                        <div class="col-4 unfocus" style="text-align: center; width: 70%;">
                            <h2 style="font-size:medium;pointer-events: none;">Edit Cube Image</h2>
                            <h4 id="imageName"style="font-size:small;pointer-events: none;"></h4>
                            <h5 id="displayCube" style="font-size:medium;pointer-events: none;"><%=w%> &times; <%=h%> px</h5>
                        </div>
                        <div class="col-4 unfocus" style="width: 15%;">
                            <img src="/images/help.jpg" class="float-right helpBtn" id="helpBtn" title="Help!" 
                            style="position: relative;"/>
                        </div>
                    </div>
                </div>
                <div class="row unfocus" style="width: 100%">
                    <div class="col-4 unfocus">
                        <a class="btn dropdownItem btn-lg float-left" 
                        style="border: 2px solid black; width: auto; height: 3rem; margin-top: .75%; margin-left: 0;
                            margin-bottom:auto; "
                        href="/" role="button" title="Start Over">
                            Upload New File
                        </a>
                    </div>
                    <div class="col-4 unfocus" style="display: flex; margin: auto auto; padding-left: 8%;">
                        <h5 style="width: 30%; font-size:large; color: white; padding-top: 2%; pointer-events: none;">Zoom Fit</h5>
                        <!-- Rounded switch -->
                        <label class="switch" style="scale: 1.15;">
                            <input id="viewOption" type="checkbox">
                            <span class="slider round"></span>
                        </label>
                        <h5 style="width: 30%; color: white; padding-top: 2%; font-size: large">Box Fit</h5>    
                    </div>
                    <div class="col-4 unfocus">
                        <button class="btn dropdownItem btn-lg float-right" onclick="captionHandler()"
                        style="border: 2px solid black; width: auto; height: 3rem; margin-right:0; margin-top: .75%;
                        margin-left: auto;"
                        title="Go Back">
                            View Caption
                        </button>
                    </div>  
                </div>
            </div>
            <div class="row" id="progressBarBox" style="margin: auto auto; margin-top: 0;">
                <!-- add progress bar here using js-->
            </div>
            <div class="row" style="margin-top:1rem; margin-bottom:0; padding:0;">
                <div class="col unfocus">
                    <!-----------------------Editor Box----------------------------------------------->
                    <div id="imageViewContainer" style="height: fit-content; width: auto; margin-left:auto;
                     margin-right: auto; margin-top: auto; margin-bottom: auto; padding: 0;">
                        <svg id="svgWrapper" xmlns="http://www.w3.org/2000/svg" version='1.1' stroke="black" 
                        fill="black" xmlns:xlink="http://www.w3.org/1999/xlink"
                        class="image-image" viewBox="0 0 <%=w%> <%=h%>" style="fill:rgb(1, 1, 1);"
                         width='100%' height='100%'>
                            <defs id="arrowDef">
                                <marker id="arrow" viewBox="0 0 10 10" refX="7" refY="5" markerUnits="strokeWidth"
                                    markerWidth="8" markerHeight="4" orient="auto">
                                    <path id="arrowPath" d="M 10 0 L 0 5 L 10 10 z" stroke="none" fill="#fff"/>
                                </marker>
                            </defs>
                            <rect id="svgBackground" class="unfocus" x="0" y="0" width="<%=w%>" height="<%=h%>" fill="black"/>
                            <image id="crop" style="pointer-events: none;" width="<%=w%>" height="<%=h%>" x="0" y="0"
                                transform="scale(.25)"fill="black" xlink:href="/images/loading.gif"></image>
                        </svg>
                    </div>
                </div> 
            </div>
        </div>
        <!-- Hidden Tags for data parsing-->
        <div id="metadata" style="display:none;"  class="text-center green-border-focus">
            <label for="metadata-text">
                <h2>Metadata Output</h2>
            </label>
            <textarea readonly id="metadata-text" class="form-control bg-white text-dark"
                style="resize: vertical; font-size: 22px;"><%= tagField %></textarea>
        </div>
        <div id="metadata-tags" style="display:none;" class="text-center green-border-focus">
            <label for="metadataTagArea">
                <h2>Metadata Tags</h2>
            </label>
            <textarea readonly id="metadataTagArea" class="form-control bg-white text-dark" 
            style="resize: vertical; font-size: 22px;"></textarea>
        </div>

        <!-- Variables for javascript code: EJS templates -->
        <div id="imageDimensions" style="display: none;">
            <p id="width"><%=w%></p>
            <p id="height"><%=h%></p>
            <p id="origW"><%=origW%></p>
            <p id="origH"><%=origH%></p>
            <p id="scalebarLength"><%=scalebarLength%></p>
            <p id="scalebarPx"><%=scalebarPx%></p>
            <p id="imageSrc"><%=image%></p>
            <p id="isMapProjected"><%=isMapProjected %></p>
            <p id="scalebarUnits"><%=scalebarUnits %></p>
            <p id="displayCube"><%=displayCube %></p>
        </div>
    </body>
</html>