<html>
    <head>
        <title>PIPS-USGS</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta name="author" content="Chadd Frasier"/>
        <meta property="og:url" content="https://pips-usgs/"/>
        <meta property="og:title" content="Planetary Image Publication Server"/>
        <meta property="og:type" content="website"/>
        <meta property="og:description" content="A publication tool for researchers of planetary science"/>
        <meta name="keywords" content="caption writer, USGS, usgs, Photo Editor, Figure, PIPS">


        <link rel="stylesheet" type="text/css" href="css/pips.css">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
    </head>

    <body>  
        <img src="../images/usgsLogo.png" class="float-md-left" width="15%" height="auto" style="margin: 0%; padding: 0%"><br>
        <div id="loading" class="float-right lead loading">
            <img src="../images/loading.gif" height="100%" weight="auto"/>
            <br>
            <h3 style="text-align: left; margin-right: 1rem;">Loading</h3>
        </div>
        <div class="text-center" style="border: 0px solid black; padding:20%; padding-top: 0; padding-bottom: 0;">
            <h1 class="display-4" style="border: 0px solid blue;">Planetary Image Publication Server</h1> 
            <h4 class="display-5">
                <a href="https://isis.astrogeology.usgs.gov/index.html" style="color: black;">
                    Powered by ISIS3
                </a>
            </h4>
        </div>
        <br/>
        <div class="title text-center" style="width: auto; background: #f3d6b0;">
            <p class="lead" style="margin-left: auto; margin-right: auto; font-size: 2rem;">You can upload .cub file and .tpl file </p>
            <a class="btn btn-primary btn-lg" style= "border: 2px solid black; color: white;" role="button" onclick="showHelp(this)">Help</a>
            <a class="btn btn-primary btn-lg" style= "border: 2px solid black; color: white;" href= '/tpl'
                role="button">What is a TPL file?
            </a>
        </div>
 
        <div id="help-box" class="help-box float-left" style="visibility: hidden; width:20%;">
            <div class="container title" style="background: whitesmoke; ">Help</div>
            <div class="row lead"> 1. Select the cube file you would like to use in your figure.</div>
            <br/>
            <div class="row lead"> 2. Input your desired output dimensions (W&times;H)in pixels. 
                Input Width or Height to have the other dimension calculated for you. (W&times;_) or (_&times;H)<br/>
                <p class="small-text"> (Leave both boxes blank to default to 300dpi at 3 inches)</p>
            </div>
            <br/>
            <div class="row lead"> 3. Select a template file to use. <br/>
                <p class="small-text"> (leave it blank to start with a server preset)</p>
            </div>
            <br/>
            <div class="row lead"> 4. Click Upload </div>
        </div>
        <br/>
        <div class="container float-center" style="margin: 0; margin-left:auto; margin-right: auto;">
            <form name="uploadForm" class="text-center" action="/captionWriter" method="POST" enctype="multipart/form-data">
                <div class="btn btn-dark btn-lg form-group" style="color: black; width: 25rem;display: inline-block; background: #e7c492; border: 2px solid black;">
                    <label for="cubUpload" style="font-size: x-large;">Choose an ISIS Cube File</label>
                    <input name="uploadFile" id="cubUpload" style="padding-bottom:1rem;"type="file" class="form-control-file" />

                    <div class="form-group float-center" style="padding-left: 7rem; padding-right:0;padding-top: -1rem; width: 17rem;color: black;">
                        <input class="form-control form-control-sm text-center" type="text" id="widthInput" name="desiredWidth" placeholder="Output Width (Px)" />
                        <input class="form-control form-control-sm text-center" type="text" id="heightInput" name="desiredHeight" placeholder="Output Height (Px)" />
                    </div>
                </div>

                <hr class="style5">
                <div class="btn btn-dark btn-lg form-group" style="color: black; background: #e7c492; border: 2px solid black;">
                    <label for="tplUpload" style="font-size: larger;">Choose a Template File</label>
                    <input name="templateFile" id="tplUpload" type="file" class="form-control-file" />
                </div>
                <br/>
                <input type="button" class="btn button btn-lg" name="SubmitCube" value="Upload" 
                    style="width: 10rem; border: 1px solid black;" onclick="loaderActivate()" />
            </form>
        </div>

        <div id="info-alert" style= "visibility:hidden; position:absolute; top: 50%;" class = "alert alert-warning text-center alertBoxes">
            <button id="infoBtn"class = "close" aria-hidden = "true" onclick="setNotVisible(this)">
                &times;
            </button>
            Upload a .cub file
        </div>
        
        <div id="fail-alert" style= "visibility:hidden;position:absolute; top: 59%; right: 0%;" class = "alert alert-primary text-center">
            <button id="failBtn"class = "close" aria-hidden = "true" onclick="setNotVisible(this)">
                &times;
            </button>
            Previous User has no server data. Start with Upload.
        </div>
        <div id="fail-image" style= "visibility:hidden;position:absolute; top: 65%;" class = "alert alert-danger text-center">
            <button id="failImageBtn"class = "close" aria-hidden = "true" onclick="setNotVisible(this)">
                &times;
            </button>
            Failed to create image from Upload.
        </div>
        <div id="fail-upload" style= "visibility:hidden;position:absolute; top: 58%;" class = "alert alert-danger text-center">
            <button id="failUploadBtn"class = "close" aria-hidden = "true" onclick="setNotVisible(this)">
                &times;
            </button>
            Failed to Upload.
        </div>
        <div id="tplAlert" style= 'visibility:hidden; position:absolute; top: 75%;' class = "alert alert-warning text-center" role="alert">
            <button id="tplBtn" class = "close" data-dismiss = "alert" aria-hidden = "true" onclick="setNotVisible(this)">
            &times;
            </button>
                    
            Template must be (.tpl) or left blank.
        </div>

        <div id="server-timeout" style= 'visibility:hidden;position:absolute; top: 75%; right: 0%;' class = "alert alert-primary text-center" role="alert">
                <button id="timeBtn" class = "close" data-dismiss = "alert" aria-hidden = "true" onclick="setNotVisible(this)">
                &times;
                </button>
                        
                Unknown User: Please Upload a Cube to Begin.
            </div>

        <div id="server-isis" style= 'visibility:hidden;position:absolute; top: 8%; right: 0%;' class = "alert alert-dark text-center" role="alert">
            <button id="timeBtn" class = "close" data-dismiss = "alert" aria-hidden = "true" onclick="setNotVisible(this)">
            &times;
            </button>
                    
            Server Error: ISIS3 is not running.
        </div>
        <script type="text/javascript">
            // get needed DOM element
            var loader = document.getElementById('loading');

            // get the input doms for dimensions
            var widthInputBox = document.getElementById("widthInput");
            var heightInputBox = document.getElementById("heightInput");

            // set alert flag for warning the user of input size
            var alerted = false;

            // get the ids of the different alert boxes
            var InfoBox = 'info-alert',
                tplBox = 'tplAlert',
                failureBox = 'fail-alert',
                uploadFail = 'fail-upload',
                imageFail = 'fail-image',
                timeOut = "server-timeout",
                isisRun = "server-isis";

            // parse the url and flag the appropriate error messages
            function fixLoader(){
                if(<%= alertCode %> == 1){
                    var alert = document.getElementById(InfoBox);
                    alert.style.visibility = 'visible';
                }
                else if(<%= alertCode %> == 2){
                    var alert = document.getElementById(tplBox);
                    alert.style.visibility = 'visible';
                }
                else if(<%= alertCode %> == 4){
                    var alert = document.getElementById(failureBox);
                    alert.style.visibility = 'visible';
                }
                else if(<%= alertCode %> == 5){
                    var alert = document.getElementById(uploadFail);
                    alert.style.visibility = 'visible';
                }
                else if(<%= alertCode %> == 6){
                    var alert = document.getElementById(imageFail);
                    alert.style.visibility = 'visible';
                }
                else if(<%= alertCode %> == 7){
                    var alert = document.getElementById(timeOut);
                    alert.style.visibility = 'visible';
                }
                else if(<%= alertCode %> == 8){
                    var alert = document.getElementById(isisRun);
                    alert.style.visibility = 'visible';
                }
                else if(<%= alertCode %> != 0){
                    var alert = document.getElementById(InfoBox);
                    alert.style.visibility = 'visible';
                    var alert2 = document.getElementById(tplBox);
                    alert2.style.visibility = 'visible';

                }
            }
        
            /* get the id of the parent element of the button that was clicked and
             hide the div box this is to help make the x buttons on the alerts work properly */
            function setNotVisible(element){
                var hideElement = document.getElementById($(element).parent().attr('id'));
                hideElement.style.visibility = 'hidden';    
            }

            // showing an hiding the loading gif
            function loadInvisible(){
                loader.style.visibility = 'hidden';    
            }
            function loaderActivate(){
    
                if(document.uploadForm.onsubmit && !document.uploadForm.onsubmit())
                {
                    return;
                }
                else{

                    if(heightInputBox.value === "" && widthInputBox.value === ""){
                        // 300dpi at 3 inches (300px/in)
                        heightInputBox.value = 900;
                        widthInputBox.value = 900;
                        loader.style.visibility = 'visible';
                        document.uploadForm.submit();

                    }else{
                        loader.style.visibility = 'visible';
                        document.uploadForm.submit();
                    }
                    
                }

            }

            // shows the help div and  disables the help button 
            function showHelp(btn){
                document.getElementById("help-box").style.visibility = "visible";
                btn.className = btn.className.replace("btn-primary","btn-secondary disabled ");
            }


            // contantly check the input boxes just in case they are too big to render on the users screen
            function checkInput(){
                let width = widthInputBox.value;
                let height = heightInputBox.value;

                // alert of the are too large
                // the flag is used to only alert the user 1 time
                if(!alerted){
                    if(width >= window.screen.width-window.screen.width*.5 && width !== "900"){
                        alert("Warning: The selected width is too larger \n     Continuing will cause redering issues");
                        alerted = true;
                    }
                    else if(height >= window.screen.height-window.screen.height*.5 && height !== "900"){
                        alert("Warning: The selected height is too larger \n    Continuing will cause redering issues");
                        alerted = true;
                    }
                }
            }
            // interval for the function above =  1.5 seconds
            setInterval(checkInput,1500);

            // this bind call is used to make the loader gif invisible on the page load
            $(window).bind("pageshow", function(event) {
                if (event.originalEvent.persisted) {
                    // functions to run when page loads
                    loadInvisible();
                    fixLoader(); 
                }else{
                    fixLoader();
                }   
            });
            
        </script>
        
    </body>
</html>
