<!DOCTYPE html>
<html>
    <head>
        <title>Caption Editor</title>
        <link rel="icon" href="images/usgsLogo.png" type="image/x-icon">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Caption Writer Page of PIP Server">

        <link rel="stylesheet" type="text/css" href="/css/pips.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

        <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
        <script src="js/writer.js"></script>
    </head>
    <body>
        <!-- Left Box -->
        <div class="mainbox-left">
            <img src="../images/usgsLogo.png" class="float-md-left" width="100%" height="auto" 
            style="margin: 0%; padding: 0%">
            <br>
        </div>
            
        <!-- Right Box-->
        <div class="mainbox-right" style=" height:75%;">
            <!-- Loading Gif-->
            <div id="loading" class="text-center loading-small">
                <img src="../images/loading.gif" class='float-center;' height="100%" weight="auto"/>
                <br>
                <h3 style="color: white; text-align: center; margin-left: 1rem;">Loading</h3>
            </div>

            <!-- Help Box -->
            <div class="help-box-right" id="help-box" style="visibility: hidden;
             margin-right: 2%; margin-top: 10%; padding-bottom: 0;">
                <button class="float-right button" id="hideBtn" 
                style="width: 1.75rem; height:1.75rem; min-width: 1.75rem; min-height: 1.75rem; border-radius: 5px; 
                border: 1px solid red; background-image: linear-gradient(lightblue,rgba(50, 50, 255, 0.685));
                background-color: rgba(39, 109, 200); color: darkred;">
                    &times;
                </button>
                <div class="container title" style="background: whitesmoke;">
                    <cite>Help</cite>
                </div>
                <div class="row lead" style="display: inline"> 
                    1. <cite>Edit</cite> your caption in the bottom right box.
                </div>
                <br/>
                <div class="row lead" style="display: inline">
                    2. <cite>Copy & Paste</cite> tags from the bottom left box into your caption. 
                </div>
                <br/>
                <div class="row lead" style="display: inline"> 3. <cite>Add Custom Keys</cite> 
                    by clicking the green plus button in the left box and filling out the required fields.
                </div>
                <br/>
                <div class="row lead" style="display: inline"> 4. <cite>Search</cite> 
                    for key words in the current tags by typing in the search bar.
                    <p class="small-text">(If you cannot find a tag, try clicking the 'Show All Tags' Button)</p>
                </div>
                <br/>
                <div class="row lead" style="display: inline"> 
                    5. <cite>Download</cite> the finished text you created or export the data as a csv file.
                    <p class="small-text">(Use the 'Save to Clipboard' button to copy the output box)</p>
                </div> 
                <br/>
                <div class="row lead" style="display: inline">
                    6. <cite>Save ISIS Logs</cite> by clicking the 'Save ISIS Logs' Button in the center of the top bar.
                        <p class="small-text">
                            (If there is no 'Save ISIS Logs' button, that is because there is no log for you on the server)
                        </p>
                </div>
                <br/>
                <div class="row lead" style="display: inline">
                        7. <cite>Special Characters</cite> can be added using the small button above the output box.
                        Place the cusor where the character goes and then use the buttons to add a character.
                   </div>
            </div>
        </div>

        <!-- Center Box -->
        <div class="mainbox-center" style="width: 65%; background-color: rgba(99,88,94,0.65); padding: 2rem;
        border: 3px solid rgba(255, 255,255, .65);padding:0;">
            <!-- Title Box -->
            <div class="container" 
            style="height: 14rem; max-width: none; padding: 1rem; padding-top: 0; padding-bottom: 2rem;
            border-right:1px; border-bottom: 2px; border: solid black; margin-bottom: 1rem; 
            background: rgba(99, 88, 94, 0.746)"> 
                <div class="jumbotron text-center" style="height: 60%; padding: 2rem; width: inherit; 
                padding-top: 1rem; margin-top: 2rem; margin-bottom: 1rem; padding-bottom:0; padding-left:9rem;
                 background-color: rgba(243, 214, 176, 0.698); border: 2px solid black"> 
                    <img src="/images/help.jpg" class="float-right helpBtn" id="helpBtn" 
                    style="margin: 0;" title="Help!"/>
                    <h1 class="display-5" style="margin: 0;float: center;font-size: 200%;">
                        Write Figure Caption
                    </h1>
                    <p class="lead" 
                    style="margin:0;margin-bottom:2.5rem;font-size: 100%; color: black;">
                        Edit the text in the right box using the tags in the bottom box.
                    </p>
                </div>
                <div class="row text-center">
                    <div class="col-4">
                        <a class="btn btn-primary btn-lg float-left" href="/" role="button" title="Upload New File"
                            style="width: auto; height: auto; padding:5; border: 1.5px solid black;">
                            Upload New File
                        </a>
                    </div>
                    <div class="col-4">
                        <button role="button" class="btn btn-primary btn-lg" title="ISIS Log File"
                        style="width: auto; height: auto; padding:5; border: 1.5px solid black; margin:auto auto;"
                        id="logDownloadBtn">Save ISIS Logs</button>
                    </div>
                    <div class="col-4">
                        <form method="POST" action="/imageEditor" class="lg-form text-right float-right" style="margin: 0;">
                            <div class="form-group">
                                <input type="hidden" value= '<%= dictionaryString  %>' name="image_string">
                                <input type="button" id="imagePageBtn" value="View Image" class="btn btn-primary btn-lg"
                                title="Image Editor" style="width: auto; height: auto; padding:5; margin: 0;
                                border: 1.5px solid black;" onclick="loaderActivate()" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-2" style="padding-left:5%; margin:auto auto;">
                    <div class="text-center" style="margin:auto auto;">
                        <button id="copyBtn" class="btn button btn-lg text-white" role="button"
                        style="width: 100%; font-size: 65%; padding: 0%;"
                        title="Save to Clipboard">
                            Copy to Clipboard
                        </button>
                    </div>
                </div>
                <div class="col-8" style="text-align: center;">
                    <div class="container float-center" 
                    style="margin-left: auto; margin-right: auto; width: 100%; max-width: none; display: flex;">
                    <!-- Output Box -->
                        <div id="template-output" class="text-center form-group metadata" 
                        style="margin: 0; width: 100%; margin:auto auto;">
                            <label for="template-text-output">
                                <h3 class="display-5 alert alert-secondary" 
                                style="border: 2px solid black; background: #63585e; color: white;">Output</h3>
                            </label>
                            <textarea readonly id="template-text-output"
                            class="form-control bg-white text-dark metadata" 
                            style="resize: vertical; font-size: 22px; border: 2px solid black;" rows="7" title="Output">
                            </textarea>
                            <br/>
                        </div>
                        <button class="btn btn-lg button" id="specialCharactersBtn"
                         style=" margin:0; text-align: center; position:sticky; height: 2rem; padding-right: 10%;
                        margin-top: 5%; padding:0; max-width: 2rem; min-width: 2rem;" title="Special Charaters">
                            &Omega;
                        </button>
                    </div>
                    <div class="container" id="specialCharBox" style="display: none;">
                        <div class="row">
                            <div class="col" style="padding:0;">
                                <button class="specChar btn btn-md button" title="Plus-Minus" style="min-width: 0;">
                                    &plusmn;
                                </button>
                            </div> 
                            <div class="col" style="padding:0;">
                                <button class="specChar btn btn-md button" title="Less-Than-Equal">&le;</button>
                            </div> 
                            <div class="col" style="padding:0;">
                                <button class="specChar btn btn-md button" title="Less-Than">&lt;</button>
                            </div> 
                            <div class="col" style="padding:0;">
                                <button class="specChar btn btn-md button" title="Greater-Than">&gt;</button>
                            </div> 
                            <div class="col" style="padding:0;">
                                <button class="specChar btn btn-md button" title="Greater-Than-Equal">&ge;</button>
                            </div> 
                            <div class="col" style="padding:0;">
                                <button class="specChar btn btn-md button" title="Multiplication">&times;</button>
                            </div> 
                            <div class="col" style="padding:0;">
                                <button class="specChar btn btn-md button" title="Micro Unit">&micro;</button>
                            </div> 
                            <div class="col" style="padding:0;">
                                <button class="specChar btn btn-md button" title="Estimate">&sim;</button>
                            </div> 
                        </div>
                        <div class="row" style="margin-top: .5%;margin-bottom: .5%;">
                            <div class="col"></div> 
                            <div class="col" style="padding:0;">
                                <button class="specChar btn btn-md button" title="Superscript 1">&sup1;</button>
                            </div> 
                            <div class="col" style="padding:0;">
                                <button class="specChar btn btn-md button" title="Superscript 2">&sup2;</button>
                            </div> 
                            <div class="col" style="padding:0;">
                                <button class="specChar btn btn-md button" title="Superscript 3">&sup3;</button>
                            </div> 
                            <div class="col" style="padding:0;">
                                <button class="specChar btn btn-md button" title="Superscript 4">⁴</button>
                            </div> 
                            <div class="col" style="padding:0;">
                                <button class="specChar btn btn-md button" title="Superscript 5">⁵</button>
                            </div>
                            <div class="col" style="padding:0;">
                                <button class="specChar btn btn-md button" title="Superscript 6">⁶</button>
                            </div>
                            <div class="col"></div>
                        </div>
                        <div class="row" style="margin-top: .5%;margin-bottom: 1%;">
                            <div class="col"></div>
                            <div class="col"></div>
                            <div class="col" style="padding:0;">
                                <button class="specChar btn btn-md button" title="Superscript 7">⁷</button>
                            </div> 
                            <div class="col" style="padding:0;">
                                <button class="specChar btn btn-md button" title="Superscript 8">⁸</button>
                            </div> 
                            <div class="col" style="padding:0;">
                                <button class="specChar btn btn-md button" title="Superscript 9">⁹</button>
                            </div> 
                            <div class="col" style="padding:0;">
                                <button class="specChar btn btn-md button" title="Degree">&deg;</button>
                            </div>  
                            <div class="col"></div>
                            <div class="col"></div>
                        </div>
                    </div>
                </div>
                <div class="col-2" style="padding:0; padding-right:7%;  margin:auto auto; width: 100%;">
                    <!-- Download Button -->
                    <form class="lg-form text-center" style="margin: auto auto; width:100%; min-width: 100%; padding:0;">
                        <div class="form-group" style="margin:auto auto; padding:0%; width: 100%; min-width: 100%;">
                            <a class="text-white btn btn-lg button" title="Download Figure Caption"
                            style="width: 100%; padding: 3%;"
                            role="button" id="link" download="<%=outputName%>">
                                <p style="text-align: center; padding:0; 
                                 width: 100%; font-size: 60%; margin: auto auto; ">
                                    Download Caption
                                </p>
                            </a>
                        </div>
                    </form>
                </div>
            </div>
            <div style="margin-left: auto; margin-right:auto;">
                <!-- Active Tag Box -->
                <div class="row" style="margin: 0; padding: 0;">
                    <div class="col-5" style="text-align: center;">
                        <label for="test" class="float-center text-center"
                        style="margin: 0; position: relative; padding: 0;">
                            <h3 class="display-5 alert alert-secondary" 
                            style="border: 2px solid black; margin-left: auto;
                            margin-right: auto; background: #63585e; color: white;" id="tagTitle">
                                Usable Tags
                            </h3>
                        </label>
                    </div>
                    <div class="col-2" style="text-align: center;">
                    </div>
                    <div class="col-5" style="text-align: center;">
                        <label for="template-text">
                            <h3 class="display-5 alert alert-secondary"
                            style="border: 2px solid black; background: #63585e; color: white;">Edit Text</h3>
                        </label>
                    </div>
                </div>
            <div class="row" style="width: 100%; margin: auto auto; margin-bottom:1rem;"> 
                <div class="col-5" style="width:5%; margin-left: auto; margin-right: auto;
                text-align: center; padding:auto; margin-top: 0;">
                    
                    <!-- Add Tag Button -->
                    <button id="addTagBtn" role="button" class="btn btn-lg button"
                    style="min-width: 2rem; max-width:2rem; height: 2rem; padding:0; position: absolute;
                    right: 4%; top: 1%;" title="Add Custom Tag">
                        &plus;
                    </button>

                    <!-- Tag Textbox -->
                    <textarea readonly id="test" class="form-control bg-white text-dark metadata"
                        style="resize: vertical; font-size: 22px; border: 2px solid black; margin-left: auto;
                        margin-right:auto;" rows="7" title="ISIS Data"></textarea> 
                </div> 
                
                <div class="col-2" style="width: 100%; margin:0;">
                    <div class="float-center" style="text-align:center; width:75%; margin-left: auto;
                     margin-right:auto;  margin-bottom: auto; padding:1%;">
                            <!-- Search Box -->
                            <label for="filterInput" class="alert alert-light float-left" 
                            style="margin:1%; color:black; width: 100%; height:auto; padding:1%; font-size: 85%;">
                                <h5 style="font-size: 100%;">Search for keywords</h5>
                            </label>
                            <br/>
                            <input id="filterInput" class="form-control-md float-left" type="text" placeholder="Search"
                            style="background-color: rgba(255,255,255);  width: 100%; height:auto;
                            text-align: inherit; margin-left: auto; margin-right: auto; color:black;
                                border: 1.5px solid black;" title="Filter Tags">
                            <br/>
                            <br/>
                            <!-- Show All Button-->
                            <button id="button-more-tags" class="btn btn-md button float-left"
                            title="Change Visible Tags" style=" border: 2px solid black; margin-left: auto;
                            margin-right:auto; margin-top:2%; width: auto; min-width:100%;font-size: 65%; padding: 1%;" 
                            onclick="showMoreTags()">Show Important Tags</button>
                            <br/>
                            <form action="/csv" method='POST' class="lg-form text-center float-left" 
                            style="margin: 0;  margin-top:1rem; margin-bottom:.25rem; width:100%;">
                                <div class="lg-form text-center" style="margin: 0;">
                                    <input type="hidden" value="<%= wholeData %>" id="passedTXT">
                                    <input type="hidden" value="<%= csvString %>" id= "csvStringPassed">
                                    <input type="submit" value="Save CSV" class="btn button btn-lg"
                                    style="width: 100%; min-width: 100%; border: 2px solid black; padding: 0px;
                                    font-size: 65%;" title="Download Data as CSV" />
                                </div>
                            </form>
                            <br/>
                            <button class="btn btn-lg button" role="button" id="templateDownloadBtn"
                            style="width: 100%; min-width: 100%; border: 2px solid black; padding: 0px;
                                font-size: 65%;" title="Save Template File">
                                    Save Template
                                </button>
                    </div>
                    
                </div>
                <div class="col-5" style="width: 5%; margin-top: auto; margin-bottom: auto;">
                    <div class="container float-right" style="max-width:none;">
                        <!-- Editing Box-->
                        <div id="template" class="float-right text-center form-group"
                         style="margin-left: auto; margin-right: auto; width: 100%;">
                            <textarea id="template-text" class="form-control bg-white text-dark" rows="7"
                                style="resize: vertical; font-size: 22px; border: 2px solid black;" title="Edit Here">
                                <%=templateText%>
                            </textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
        <!-- for passing server vaiables to the script -->
        <div id="pageVariables" style="display: none;">
            <p id="outputName"><%=outputName%></p>
        </div>
            
            <!-- Invisible Boxes -->
            <div id="metadata" style = "display: none;" class="text-center green-border-focus">
                <label for="metadata-text">
                    <h2>Metadata Output DICTSTRING </h2>
                </label>
                <textarea readonly id="metadata-text" class="form-control bg-white text-dark"
                    style="resize: vertical; font-size: 22px;"><%= dictionaryString %>
                </textarea>
            </div>
            
            <div id="tags"  style = "display: none;" class="text-center green-border-focus">
                <label for="all-tag-text">
                    <h2>All Tag Info CSVSTRING</h2>
                </label>
                <textarea readonly id="all-tag-text" class="form-control bg-white text-dark"
                    style="resize: vertical; font-size: 22px;"><%= wholeData %></textarea>
            </div>

            <div id="metadata-tags"  style = "display: none;" class="text-center green-border-focus">
                <label for="metadataTagArea">
                    <h2>Metadata Tags</h2>
                </label>
                <textarea readonly id="metadataTagArea" class="form-control bg-white text-dark"
                    style="resize: vertical; font-size: 22px;"></textarea>
            </div>

            <div id="important-tags" style = "display: none;" class="text-center green-border-focus">
                <label for="allTagArea">
                    <h2>allTagArea</h2>
                </label>
                <textarea readonly id="allTagArea" class="form-control bg-white text-dark"
                    style="resize: vertical; font-size: 22px;"></textarea>
            </div>
            <!-- End Invisible Boxes -->

            <br/>
    </body>
</html>