<!DOCTYPE html>
<html>
    <head>
        <title>Caption Editor</title>
        <link rel="icon" href="images/usgsLogo.png" type="image/x-icon">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Caption Writer Page of PIP Server">

        <link rel="stylesheet" type="text/css" href="/css/pips.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

        <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
        <!-- pull rangy stuff from github lib -->
        <script src="https://lezuse.github.io/rangy/lib/rangy-core.js"></script>
        <script src="https://lezuse.github.io/rangy/lib/rangy-selectionsaverestore.js"></script>
    
        <script src="js/writer.js"></script>
    </head>
    <body>
        <!-- Help Box -->
        <div class="help-box" id="help-box" style="visibility: hidden;
            margin-right: 2%; margin-top: 10%; padding-bottom: 0;">
            <button class="float-right button" id="hideBtn">
                &times;
            </button>
            <div class="container title" style="background: whitesmoke;">
                <cite>Help</cite>
            </div>
            <div class="row lead" style="display: inline"> 
                1. <cite>Edit</cite> your caption in the bottom right box.
            </div>
            <br/>
            <div class="row lead" style="display: inline">
                2. <cite>Copy & Paste</cite> tags from the bottom left box into your caption. 
            </div>
            <br/>
            <div class="row lead" style="display: inline"> 3. <cite>Add Custom Keys</cite> 
                by clicking the green plus button in the left box and filling out the required fields.
            </div>
            <br/>
            <div class="row lead" style="display: inline"> 4. <cite>Search</cite> 
                for key words in the current tags by typing in the search bar.
                <p class="small-text">(If you cannot find a tag, try clicking the 'Show All Tags' Button)</p>
            </div>
            <br/>
            <div class="row lead" style="display: inline"> 
                5. <cite>Download</cite> the finished text you created or export the data as a csv file.
                <p class="small-text">(Use the 'Save to Clipboard' button to copy the output box)</p>
            </div> 
            <br/>
            <div class="row lead" style="display: inline">
                6. <cite>Save ISIS Logs</cite> by clicking the 'Save ISIS Logs' Button in the center of the top bar.
                    <p class="small-text">
                        (If there is no 'Save ISIS Logs' button, that is because there is no log for you on the server)
                    </p>
            </div>
            <br/>
            <div class="row lead" style="display: inline">
                    7. <cite>Special Characters</cite> can be added using the small button above the output box.
                    Place the cursor where the character goes and then use the buttons to add a character.
                </div>
        </div>
            
        <!-- Loading Gif-->
        <div id="loading" class="text-center loading-small">
            <img src="../images/loading.gif" class='float-center;' height="10%" weight="auto"/>
            <br>
            <h3 style="color: white; text-align: center; margin-left: 1rem;">Loading</h3>
        </div>

        <!-- Center Box -->
        <div class="mainbox-center" style="width: 100%; height:100%; background-color: rgba(99,88,94,0.65);
        border: 3px solid rgba(255, 255,255, .65); padding:0;">

        <img src="../images/usgsLogo.png" class="float-md-left" width="10%" height="auto" 
        style="margin: 0%; padding: 0%">

            <!-- Title Box -->
            <div class="container writer-header-box"> 
                <div class="jumbotron text-center" style="height: auto; padding: 3rem; width: inherit; 
                padding-top: .5rem; padding-bottom: 1rem; margin-top: 2rem; margin-bottom: 8px; padding-left:9rem;
                 background-color: rgba(243, 214, 176, 0.698); border: 2px solid black"> 
                    <img src="/images/help.jpg" class="float-right helpBtn" id="helpBtn" 
                    style="margin: 0;" title="Help!"/>
                    <h1 class="display-4 stroke-wide" style=" height:auto; margin: 0;float: center;">
                        Write Figure Caption
                    </h1>
                    <p class="lead display-5 title-text-small" 
                    style="margin:auto auto; color: black;">
                        Edit the text in the right box using the tags in the bottom box.
                    </p>
                </div>
                <div class="row text-center" style="padding: 10px; height: auto;">
                    <div class="col">
                        <a class="float-left btn dropdownItem" href="/" role="button" title="Upload New File"
                        style="width: auto; height: auto; padding:5; border: 1.5px solid black;">
                        Upload New File
                        </a>
                    </div>
                    <div class="col menubar">
                        <div id="fileMenuBtn" class="dropdown btn">
                            File Options&#x25BA;
                        </div>
                        <br>
                        <div class="dropdownMenu" style="margin: auto;">
                            <form action="/csv" method='POST' class="lg-form text-left" 
                            style="margin: 0; ">
                                <div class="lg-form" style="margin: 0;">
                                    <input type="hidden" value="<%= wholeData %>" id="passedTXT">
                                    <input type="hidden" value="<%= csvString %>" id= "csvStringPassed">
                                    <input type="submit" value="Save Data as CSV" class="dropdownItem btn"
                                    style=" padding:5; margin:0;"
                                     title="Download Data as CSV" />
                                </div>
                            </form>
                    
                            <button class="dropdownItem btn" role="button" id="templateDownloadBtn"
                            style="padding:5; margin:0;" title="Save Template File">
                                Save Template File (.tpl)
                            </button>
                            <br>
                            <button id="copyBtn" class="dropdownItem btn" role="button"
                            style="padding:5; margin:0;"
                            title="Save to Clipboard">
                                Copy Output to Clipboard
                            </button>
                            <br>
                            <a class="dropdownItem btn" title="Download Figure Caption"
                            style="padding:5;margin:0;"
                                role="button" id="link" download="<%=outputName%>">
                                   Download Output (.txt)
                            </a>
                            <br>
                            <button id="logDownloadBtn" class="btn dropdownItem" role="button" title="ISIS Log File"
                            style="padding:5; margin:0;">Save ISIS Output Log
                            </button>
                            <br>
                        </div>
                    </div>
                    <div class="col">
                        <form method="POST" action="/imageEditor" class="text-right" 
                            style="width: auto; height: auto; padding:5; margin: 0;
                            background: transparent;">            
                                <input type="hidden" value= '<%= dictionaryString %>' name="image_string">
                                <input type="button" id="imagePageBtn" value="View Image" class="btn dropdownItem"
                                title="Image Editor" style="width:auto; height:auto; padding:4;
                                margin:0;" onclick="loaderActivate()"/>
                            </form>
                    </div>
                </div>
            </div>
            <div class="row" style="padding: 1%;">
                <div class="col" style="text-align: center;">
                    <div class="container float-center" 
                    style="min-width: 1200px; max-width:2000px; max-height:1500px; margin-left: auto; margin-right: auto; width: 100%; height: auto; display: flex; padding: 0;">
                    <!-- Output Box -->
                        <div id="template-output" class="text-center form-group metadata" 
                        style="margin: 0; width: 100%; height: 100%; padding: 0;">
                            <label for="template-text-output">
                                <h3 class="display-5 alert alert-secondary" 
                                style="border: 2px solid black; background: #63585e; color: white;">Output</h3>
                            </label>
                            <div class="row" style="margin: auto auto;">
                                <p readonly id="template-text-output"
                                    class="form-control bg-white metadata lightshadowbox text-left float-center" 
                                    style="color:black; min-height: 200px; overflow-y: scroll;font-size: 22px; border: 2px solid black;
                                    display: block; height: 100%; margin: auto auto; margin-left: 2%;" height="auto" title="Output">
                                </p>
                            </div>
                        <textarea id="copyBtnText" style="visibility:hidden;color:black; z-index:-10; margin-top:1%; margin-bottom: 0;"></textarea>
                        </div>
                        <button class="btn button btn-lg" id="specialCharactersBtn" title="Special Charaters">
                            &Omega;
                        </button>
                    </div>
                    <div class="container" id="specialCharBox" style="display: none; margin: auto auto; margin-top: 0;">
                        <div class="row">
                            <div class="col" style="padding:0;">
                                <button class="specChar btn btn-md button" title="Plus-Minus" style="min-width: 0;">
                                    &plusmn;
                                </button>
                            </div> 
                            <div class="col" style="padding:0;">
                                <button class="specChar btn btn-md button" title="Less-Than-Equal">&le;</button>
                            </div> 
                            <div class="col" style="padding:0;">
                                <button class="specChar btn btn-md button" title="Less-Than">&lt;</button>
                            </div> 
                            <div class="col" style="padding:0;">
                                <button class="specChar btn btn-md button" title="Greater-Than">&gt;</button>
                            </div> 
                            <div class="col" style="padding:0;">
                                <button class="specChar btn btn-md button" title="Greater-Than-Equal">&ge;</button>
                            </div> 
                            <div class="col" style="padding:0;">
                                <button class="specChar btn btn-md button" title="Multiplication">&times;</button>
                            </div> 
                            <div class="col" style="padding:0;">
                                <button class="specChar btn btn-md button" title="Micro Unit">&micro;</button>
                            </div> 
                            <div class="col" style="padding:0;">
                                <button class="specChar btn btn-md button" title="Estimate">&sim;</button>
                            </div> 
                        </div>
                        <div class="row" style="margin-top: .5%;margin-bottom: .5%;">
                            <div class="col">
                                <button class="specChar btn btn-md button" title="Superscript 0">⁰</button>
                            </div> 
                            <div class="col" style="padding:0;">
                                <button class="specChar btn btn-md button" title="Superscript 1">&sup1;</button>
                            </div> 
                            <div class="col" style="padding:0;">
                                <button class="specChar btn btn-md button" title="Superscript 2">&sup2;</button>
                            </div> 
                            <div class="col" style="padding:0;">
                                <button class="specChar btn btn-md button" title="Superscript 3">&sup3;</button>
                            </div> 
                            <div class="col" style="padding:0;">
                                <button class="specChar btn btn-md button" title="Superscript 4">⁴</button>
                            </div> 
                            <div class="col" style="padding:0;">
                                <button class="specChar btn btn-md button" title="Superscript 5">⁵</button>
                            </div>
                            <div class="col" style="padding:0;">
                                <button class="specChar btn btn-md button" title="Superscript 6">⁶</button>
                            </div>
                            <div class="col">
                                <button class="specChar btn btn-md button" title="Superscript 7">⁷</button>
                            </div>
                        </div>
                        <div class="row" style="margin-top: .5%;margin-bottom: 1%;">
                            <div class="col">
                                <button class="specChar btn btn-md button" title="Superscript 8">⁸</button>
                            </div>
                            <div class="col">
                                    <button class="specChar btn btn-md button" title="Superscript 9">⁹</button>
                            </div>
                            <div class="col" style="padding:0;">
                                <button class="specChar btn btn-md button" title="Subscript 0">₀</button>
                            </div> 
                            <div class="col" style="padding:0;">
                                <button class="specChar btn btn-md button" title="Subscript 1">₁</button>
                            </div> 
                            <div class="col" style="padding:0;">
                                <button class="specChar btn btn-md button" title="Subscript 2">₂</button>
                            </div> 
                            <div class="col" style="padding:0;">
                                <button class="specChar btn btn-md button" title="Subscript 3">₃</button>
                            </div>  
                            <div class="col">
                                <button class="specChar btn btn-md button" title="Subscript 4">₄</button>
                            </div>
                            <div class="col">
                                <button class="specChar btn btn-md button" title="Subscript 5">₅</button>
                            </div>
                        </div>
                        <div class="row" style="margin-top: .5%;margin-bottom: 1%;">
                                <div class="col">
                                    <button class="specChar btn btn-md button" title="Subscript 6">₆</button>
                                </div>
                                <div class="col">
                                    <button class="specChar btn btn-md button" title="Subscript 7">₇</button>                                    
                                </div>
                                <div class="col" style="padding:0;">
                                    <button class="specChar btn btn-md button" title="Subscript 8">₈</button>
                                </div> 
                                <div class="col" style="padding:0;">
                                    <button class="specChar btn btn-md button" title="Subscript 9">₉</button>                                    
                                </div> 
                                <div class="col" style="padding:0;">
                                    <button class="specChar btn btn-md button" title="Degree">&deg;</button>
                                </div> 
                                <div class="col"></div>  
                                <div class="col"></div>
                                <div class="col"></div>
                            </div>
                    </div>
                </div>
            </div>
            <div style="margin-left: auto; margin-right:auto; margin-top: 0;">
                <!-- Active Tag Box -->
                <div class="row" style="margin: 0; padding: 0;">
                    <div class="col-4" style="text-align: right;">
                        <label for="test" class="float-center text-center"
                        style="margin: 0; position: relative; padding: 0;">
                            <h3 class="display-5 alert alert-secondary" 
                            style="border: 2px solid black; margin-left: auto;
                            margin-right: auto; background: #63585e; color: white;" id="tagTitle">
                                Usable Tags
                            </h3>
                        </label>
                    </div>
                <div class="col-3" style="text-align: center; margin-bottom: 1%; margin-top: -2; max-width: 250px;">
                        <div class="float-left" style="text-align:center; width:100%; margin: auto auto; padding:2%;">
                                <!-- Search Box -->
                                <label for="filterInput" class="alert alert-light float-left">
                                    Search Tags
                                </label>
                                <br/>
                                <input id="filterInput" class="form-control-md float-left" type="text" placeholder="Search" title="Filter Tags">
                                <br/>
                                <br/>
                                <!-- Show All Button-->
                                <button id="button-more-tags" class="btn btn-lg button float-left"
                                title="Change Visible Tags" onclick="showMoreTags()">Show Important Tags</button>
                                <br/>
                        </div>
                    </div>
                    <div class="col-5" style="text-align: center; padding: 0;">
                        <label for="template-text">
                            <h3 class="display-5 alert alert-secondary"
                            style="border: 2px solid black; background: #63585e; color: white;">Edit Text</h3>
                        </label>
                    </div>
                </div>
            <div class="row" style="width: 100%; margin: auto auto;"> 
                <div class="col" style="width:5%; margin-left: auto; margin-right: auto;
                text-align: center; padding:auto; margin-top: 0;">
                    
                    <!-- Add Tag Button -->
                    <button id="addTagBtn" role="button" class="btn btn-lg button" title="Add Custom Tag">
                        &plus;
                    </button>

                    <!-- Tag Textbox -->
                    <textarea readonly id="test" class="form-control bg-white text-dark metadata"
                        style="resize: vertical; font-size: 22px; border: 2px solid black; margin-left: auto;
                        margin-right:auto;" rows="7" title="ISIS Data"></textarea> 
                </div> 
                
                
                <div class="col" style="text-align: right;">
                    <div class="container" style="max-width:none;max-height:none;">
                        <!-- Editing Box-->
                        <div id="template" class="float-right text-center form-group"
                         style="margin-left: auto; margin-right: auto; width: 100%; height: 250px;">
                            <pre id="template-text" contenteditable="true" class="form-control bg-white text-dark text-left"
                                style="resize: vertical; border: 2px solid black;" title="Edit Here"><%=templateText%></pre>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
        <!-- for passing server vaiables to the script -->
        <div id="pageVariables" style="display: none;">
            <p id="outputName"><%=outputName%></p>
        </div>
            
        <!-- Invisible Boxes -->
        <div id="metadata" style = "display: none;" class="text-center green-border-focus">
            <label for="metadata-text">
                <h2>Metadata Output DICTSTRING </h2>
            </label>
            <textarea readonly id="metadata-text" class="form-control bg-white text-dark"
                style="resize: vertical; font-size: 22px;"><%= dictionaryString %>
            </textarea>
        </div>
        
        <div id="tags"  style = "display: none;" class="text-center green-border-focus">
            <label for="all-tag-text">
                <h2>All Tag Info CSVSTRING</h2>
            </label>
            <textarea readonly id="all-tag-text" class="form-control bg-white text-dark"
                style="resize: vertical; font-size: 22px;"><%= wholeData %></textarea>
        </div>

        <div id="metadata-tags"  style = "display: none;" class="text-center green-border-focus">
            <label for="metadataTagArea">
                <h2>Metadata Tags</h2>
            </label>
            <textarea readonly id="metadataTagArea" class="form-control bg-white text-dark"
                style="resize: vertical; font-size: 22px;"></textarea>
        </div>

        <div id="important-tags" style = "display: none;" class="text-center green-border-focus">
            <label for="allTagArea">
                <h2>allTagArea</h2>
            </label>
            <textarea readonly id="allTagArea" class="form-control bg-white text-dark"
                style="resize: vertical; font-size: 22px;"></textarea>
        </div>
        <!-- End Invisible Boxes -->
    </body>
</html>