<html>

    <head>
        <title>Caption Editor</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" type="text/css" href="css/pips.css">

        <link rel="icon" href="images/usgsLogo.png" type="image/x-icon">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

        <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
        <script src="js/writer.js"></script>
      
    </head>
    <body>
        <div class="mainbox-left">
            <img src="../images/usgsLogo.png" class="float-md-left" width="100%" height="auto" 
            style="margin: 0%; padding: 0%">
            <br>
        </div>
            
        <div class="mainbox-right">
            <div id="loading" class="text-center loading">
                <img src="../images/loading.gif" class='float-center;' height="100%" weight="auto"/>
                <br>
                <h3 style="color: white; text-align: center; margin-left: 1rem;">Loading</h3>
            </div>


            <div class="help-box-right" id="help-box" style="visibility: hidden; margin-right: 2%; margin-left: auto; padding-bottom: 0;">
                <button class="float-right button" id="hideBtn" 
                style="width: auto; height:auto; border-radius: 5px; 
                background-image: linear-gradient(lightblue,rgba(50, 50, 255, 0.685));
                background-color: rgba(39, 109, 200); color: darkred; border: 1px solid red;">&times;
                </button>
                <div class="container title" style="background: whitesmoke;"><u>Help</u></div>
                <div class="row lead" style="display: inline"> 1. <u>Edit</u> your caption in the right box.</div>
                <br/>
                <br/>
                <div class="row lead" style="display: inline"> 2. <u>Copy & Paste</u> tags from the middle box into your caption. </div>
                <br/>
                <br/>
                <div class="row lead" style="display: inline"> 3. <u>Search</u> for key words in the current tags by typing in the search bar.
                    <p class="small-text">(If you cannot find a tag, try clicking the 'Show All Tags' Button)</p>
                </div>
                <div class="row lead" style="display: inline"> 4. <u>Export</u> the text you created or export the data as a csv </div> 
            </div>
        </div>

        <div class="mainbox-center" style="width: 65%; background-color: rgba(99,88,94,0.65); padding: 2rem;
        border: 3px solid rgba(255, 255,255, .65);padding:0; border-top: 0;">
            <div class="container" 
            style="height: 11rem; max-width: none; padding: 0; padding-top: 0;
            border-right:1px; border-bottom: 2px; border: solid black; margin-bottom: 1rem; background: rgba(99, 88, 94, 0.746)"> 
                <div class="jumbotron text-center" 
                style="height: 68%; padding: 2rem; width: inherit; padding-top: 1rem; 
                padding-bottom:0;background-color: rgba(243, 214, 176, 0.856); border: 2px solid black"> 
                    <img src="/images/help.jpg" class="float-left helpBtn" id="helpBtn"/>
                    <h1 class="display-5 stroke-wide stroke-dark" style="margin: 0;float: center;">Write Figure Caption</h1>
                    <p class="lead text-stroke-small stroke-dark" style="margin-bottom:2rem;">Edit the text in the right box using the tags in the bottom box</p>
                    <a class="btn btn-primary btn-lg float-left" href="/" role="button" 
                    style="width: auto; height: 2.5rem; padding:5;border: 1.5px solid black;">Upload New File</a>
    
                    <form method="POST" action="/imageEditor" class="lg-form text-center float-right" style="margin: 0;">
                        <div class="form-group">
                            <input type="hidden" value= '<%= dictionaryString  %>' name="image_string">
                            <input type="submit" value="Edit Image" class="btn btn-primary btn-lg" 
                            style="width: auto; height: 2.5rem; padding:5;border: 1.5px solid black;"
                            onclick="loaderActivate()" />
                        </div>
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <div class="container float-left" 
                    style="margin-left: auto; margin-right: auto; width: 100%;"> 
                        <div id="template-output" class="text-center form-group metadata" style="margin: 0;">
                            <label for="template-text-output">
                                <h3 class="display-5 alert alert-secondary" 
                                style="border: 2px solid black; background: #63585e; color: white;">Template Text Output</h2>
                            </label>
                            <textarea readonly id="template-text-output" class="form-control bg-white text-dark metadata"
                                style="resize: vertical; font-size: 22px; border: 2px solid black;" rows="7"></textarea>
                                <br/>

                            <form class="lg-form text-center float-left" style="margin: 0;">
                                <div class="form-group">
                                    <a class="btn button text-white btn-lg" 
                                    style="width: 12rem; padding: 7px; border: 2px solid black;" role="button" 
                                    id="link" download="<%=outputName%>">
                                        Download Caption
                                    </a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <br/>
                <div class="col-6">
                    <div class="container float-right">
                        <!-- Editing Box-->
                        <div id="template" class="float-right text-center form-group" style="margin-left: auto; margin-right: auto; width: 100%;">
                            <label for="template-text">
                                <h3 class="display-5 alert alert-secondary"
                                style="border: 2px solid black; background: #63585e; color: white;">Edit Text</h3>
                            </label>
                            <textarea id="template-text" class="form-control bg-white text-dark" rows="7"
                                style="resize: vertical; font-size: 22px; border: 2px solid black;"><%= templateText %>
                            </textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div style="margin-left: auto; margin-right:auto;">
                <div class="row">
                    <!-- Active Tag Box -->
                    <div class="col-2"></div>
                    
                    <div class="col-8" style="text-align: center;">
                        <label for="test" class="float-center text-center" style="margin: 0; position: relative; padding: 0;">
                            <h3 class="display-5 alert alert-secondary" 
                            style="border: 2px solid black; margin-left: 0; margin-right: auto; background: #63585e; color: white;">
                                Usable Tags
                            </h3>
                        </label>
                    </div>
                    <div class="col-2"></div>
                </div>
            <div class="row" style="width: 100%; margin-bottom:1rem;"> 
                <div class="col-2" style="height:100%; margin-top: auto; margin-bottom: auto;">
                    <div class="float-center" style="text-align:center; width:75%; margin-left: auto; margin-right:auto;  margin-bottom: auto;">
                        <label for="filterInput" class="alert alert-light float-left" 
                        style="color:black; width: 100%; height:auto; padding:3px;">
                            <h5>Search for keywords</h5>
                        </label>
                        <br/>
                        <input id="filterInput" class="form-control-md float-left" type="text" placeholder="Search" 
                        style="background-color: rgba(255,255,255);  width: 100%; height:auto;
                        text-align: inherit; margin-left: auto; margin-right: auto; color:black;
                            border: 1.5px solid black;">
                        <br/>
                        <br/>
                        <button id="button-more-tags" class="btn btn-md button float-left" 
                        style=" border: 2px solid black; margin-left: auto; margin-right:auto; margin-top:2%; width: auto; min-width: 100%;" 
                        onclick="showMoreTags()">Show Important Tags</button>
                    </div> 
                </div>
                <div class="col-8" style="width: 100%;">
                    <textarea readonly id="test" class="form-control bg-white text-dark metadata"
                        style="resize: vertical; font-size: 23px; border: 2px solid black; width: 100%;" rows="7"></textarea>
                </div>
                <div class="col-2" style="width: 5%; margin-top: auto; margin-bottom: auto;">
                    <form action="/csv" method='POST' class="lg-form text-center float-left" 
                    style="margin: 0;  margin-top:1rem;">
                        <div class="lg-form text-center" style="margin: 0;">
                            <input type="hidden" value="<%= wholeData %>" id="passedTXT">
                            <input type="hidden" value="<%= csvString %>" id= "csvStringPassed">
                            <input type="submit" value="Save Metadata CSV" class="btn button btn-lg" 
                            style="width: 13rem; border: 2px solid black; padding: 7px;" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
        
        <!-- for passing server vaiables to the script -->
        <div id="pageVariables" style="display: none;">
            <p id="outputName"><%=outputName%></p>
        </div>
            
            <!-- Invisible Boxes -->
            <div id="metadata" style = "display: none;" class="text-center green-border-focus">
                <label for="metadata-text">
                    <h2>Metadata Output DICTSTRING </h2>
                </label>
                <textarea readonly id="metadata-text" class="form-control bg-white text-dark"
                    style="resize: vertical; font-size: 22px;"><%= dictionaryString %>
                </textarea>
            </div>
            
            <div id="tags"  style = "display: none;" class="text-center green-border-focus">
                <label for="all-tag-text">
                    <h2>All Tag Info CSVSTRING</h2>
                </label>
                <textarea readonly id="all-tag-text" class="form-control bg-white text-dark"
                    style="resize: vertical; font-size: 22px;"><%= wholeData %></textarea>
            </div>

            <div id="metadata-tags"  style = "display: none;" class="text-center green-border-focus">
                <label for="metadataTagArea">
                    <h2>Metadata Tags</h2>
                </label>
                <textarea readonly id="metadataTagArea" class="form-control bg-white text-dark"
                    style="resize: vertical; font-size: 22px;"></textarea>
            </div>

            <div id="important-tags" style = "display: none;" class="text-center green-border-focus">
                <label for="allTagArea">
                    <h2>allTagArea</h2>
                </label>
                <textarea readonly id="allTagArea" class="form-control bg-white text-dark"
                    style="resize: vertical; font-size: 22px;"></textarea>
            </div>
            <!-- End Invisible Boxes -->

            <br/>
    </body>
</html>